@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway-v28-cyrillic_latin-700.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-text-cl: #555555;
    --title-cl: #303030;
    --accent-cl: #ff6c00;
    --alt-text-cl: #9da4bd99;
    --alt-title-cl: #ffffff;

    --dark-bg: #191c26;
    --second-bg: #f7f7f7;

    --maint-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--maint-font);
}

/* h1 {
    font-family: 'Raleway', sans-serif;
} */
