@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway-v28-cyrillic_latin-700.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-text-cl: #555555;
    --title-cl: #303030;
    --accent-cl: #ff6c00;
    --alt-text-cl: #9da4bd99;
    --alt-title-cl: #ffffff;

    --dark-bg: #191c26;
    --second-bg: #f7f7f7;

    --maint-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--maint-font);
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-cl);
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-cl);
}

.list {
    list-style: none;
}

.address {
    font-style: inherit;
}

.title {
    font-family: var(--title-font);
    letter-spacing: 0.05em;
    color: #303030;
}
.page-title {
    font-size: 72px;
    line-height: 1.18;
}

.section-title {
    font-size: 42px;
    line-height: 1.17;
}
